<%= form_with(model: gaming_session) do |form| %>

  <%= render RecordFormWrapperComponent.new(record: gaming_session, form:) do |component| %>

    <% component.with_fields do %>

      <div>
        <%= form.label :start_time, style: "display: block" %>
        <%= form.text_field :start_time %>
      </div>

      <div>
        <%= form.label :gaming_group_id, style: "display: block" %>
        <%= form.text_field :gaming_group_id %>
      </div>
      
    <% end %>
  <% end %>
<% end %>
