<%= form_with(model: gaming_session) do |form| %>

  <%= render RecordFormWrapperComponent.new(record: gaming_session, form:) do |component| %>

    <% component.with_fields do %>

      <div class="form-floating mb-3">
        <%= form.datetime_field :start_time, class: "form-control", placeholder: "Start Time" %>
        <%= form.label :start_time %>
      </div>

      <div class="form-floating mb-3">
        <%= select_for_groups form, :gaming_group_id %>
        <%= form.label :gaming_group_id %>
      </div>

      <%= render TextEditorComponent.new(form: form, attribute: :notes) %>
      
    <% end %>
  <% end %>
<% end %>
