<%= form_with(model: gaming_session) do |form| %>
  <%= render ErrorPanelComponent.new(model_name: "Gaming Session", errors: gaming_session.errors) %>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.datetime_field :start_time %>
  </div>

  <div>
    <%= form.label :gaming_group_id, style: "display: block" %>
    <%= form.text_field :gaming_group_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
