<% content_for :title, "Quests" %>

<%= render Common::HeaderCardComponent.new(title: "Quests") do |header| %>
  <%= header.with_buttons do %>
    <%= link_to "New quest", new_world_quest_path(@world), class: %i[btn btn-primary] %>
  <% end %>
<% end %>

<div id="quests">
  <%= turbo_frame_tag :quests do %>
    <% @quests.each do |quest| %>
      <%= render Common::CardWithMenuComponent.new(title: quest,
        menu_options: [
          {link: [quest.world, quest], text: "Show", target: "_top"},
          {link: edit_world_quest_path(quest.world, quest), text: "Edit", target: "_top"}
        ]) do |card| %>
        <% card.with_body do %>
          <%= render TextEditorRenderComponent.new(model: quest, attribute: :blurb) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
