<div class="form-row">
  <%= form.hidden_field :id %>
  <% if local_assigns.fetch(:unit, nil) %>
    <%= form.hidden_field :unit_id %>
  <% else %>
    <%= unit_select(form, user_player.player_armies.first.army_list, :unit_id) %>
  <% end %>
  <%= unit_stat_modifier_select(form, game_system, :unit_stat_modifier_id) %>
  <%= bootstrap_check_box(form, :_destroy) %>
</div>