<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#<%= @id %>" aria-expanded="true" aria-controls="<%= @id %>">
      <%= header %>
    </button>
  </h2>
  <div id="<%= @id %>" class="accordion-collapse collapse show"> <%# data-bs-parent="#accordionExample"> %>
    <div class="accordion-body">
      <%= body %>
    </div>
  </div>
</div>