
<%= content_tag :h1, @world.name %>

<div class="aic-grid">
  <%= render StandardLayoutBoxComponent.new(title: "Articles") do %>
    <ul class="list-group">
      <% @world.articles.each do |article| %>
        <li class="list-group-item">
          <%= link_to article, [@world, article] %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= render StandardLayoutBoxComponent.new(title: "Characters") do %>
    <ul class="list-group">
      <% @world.characters.each do |character| %>
        <li class="list-group-item">
          <%= link_to character, [@world, character] %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
