
<%= content_tag :h1, @world.name %>

<div class="aic-grid">

  <%= render Common::EmbeddedIndexComponent.new(title: "Articles", turbo_frame_id: :articles,
                                        records_path: world_articles_path(@world)) %>

  <%= render Common::EmbeddedIndexComponent.new(title: "Characters", turbo_frame_id: :characters,
                                        records_path: world_characters_path(@world)) %>

  <%= render Common::EmbeddedIndexComponent.new(title: "Locations", turbo_frame_id: :locations,
                                        records_path: world_locations_path(@world)) %>

  <%= render Common::EmbeddedIndexComponent.new(title: "Organisations", turbo_frame_id: :organisations,
                                        records_path: world_organisations_path(@world)) %>

</div>
