<%= render StandardLayoutBoxComponent.new(title: "Campaigns") do |component| %>
  <% component.with_body do %>

    <div class="campaign-list">
      <% @gaming_group.campaigns.each do |campaign| %>
        <%= link_to campaign.name, [@gaming_group, campaign] %>
      <% end %>
    </div>

    <div class=mt-2>
      <%= form_with(url: new_gaming_group_campaign_path(@gaming_group), method: :get) do |form| %>
        <%= bootstrap_game_system_select(form, :game_system_id) %> 
        <%= form.submit "New Campaign", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
<% end %>
