<div class="py-3 text-center bg-body-tertiary rounded-3">
  <h1>Amicis In Conflictu</h1>
  <h2>Reset Password</h2>

  <%= form_with(url: auth_reset_password_path, html: { method: :post }) do |f| %>

    <%= f.hidden_field :invitation_token, value: @reset_password_token %>

    <div class="form-floating mb-3">
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      <%= f.label :password %>
    </div>

    <div class="form-floating mb-3">
      <%= f.password_field :confirm_password, class: "form-control", placeholder: "Confirm Password" %>
      <%= f.label :confirm_password %>
    </div>

    <div class="actions">
      <%= f.submit "Reset Password" %>
    </div>
  <% end %>
</div>