<% content_for :title, "Unit traits" %>

<h1>Unit traits</h1>

<div id="unit_traits">
  <%= turbo_frame_tag :unit_traits do %>
    <% @unit_traits.each do |unit_trait| %>
      <%= render Common::CardWithMenuComponent.new(title: "#{unit_trait.name}",
        menu_options: [
          {link: edit_unit_trait_path(unit_trait), text: "Edit", target: "_top"}
          ]) do |card| %>
        <% card.with_body do %>
          <%= render TextEditorRenderComponent.new(model: unit_trait, attribute: :rich_description) %>
        <% end %>
      <% end %>
    <% end %>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>
</div>

<%= link_to "New unit trait", new_unit_trait_path %>