<nav class="navbar" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div>
      <strong>Editing world:</strong> <%= link_to current_world.name, build_world_path(current_world) %>
    </div>
    <div>
      <%= link_to "View", current_world, class: %i[btn btn-primary] %>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#worldBuilderMenu">
        Add World Item 
      </button>
    </div>
  </div>
</nav>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="worldBuilderMenu" tabindex="-1" aria-labelledby="worldBuilderMenuLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="worldBuilderMenuLabel">World Items</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-row flex-wrap gap-3">
          <%= link_to new_world_article_path(current_world) do %>
            <%= content_tag :i, nil, class: %w[bi bi-file-earmark-text] %>
            New Article
          <% end %>
          <%= link_to new_world_character_path(current_world) do %>
            <%= content_tag :i, nil, class: %w[bi bi-person-arms-up] %>
            New Character
          <% end %>
          <%= link_to new_world_location_path(current_world) do %>
            <%= content_tag :i, nil, class: %w[bi bi-pin-map] %>
            New Location
          <% end %>
          <%= link_to new_world_quest_path(current_world) do %>
            <%= content_tag :i, nil, class: %w[bi bi-map] %>
            New Quest
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
