
<%= render StandardLayoutBoxComponent.new(title: "Lists") do |component| %>

  <% component.with_body do %>
    <% @army.army_lists.each do |list| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= list.name %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"><%= list.cost %></h6>
          <%= link_to content_tag(:i, nil, class: ["bi", "bi-pencil-fill"]), edit_army_army_list_path(@army, list), class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>

    <%= link_to "New List", new_army_army_list_path(@army), class:"btn btn-primary" %>
  <% end %>

<% end %>

