<%= form_with(model: army_list) do |form| %>

  <%= render RecordFormWrapperComponent.new(record: army_list, form:) do |component| %>

    <% component.with_fields do %>

      <div class="form-floating">
        <%= form.text_field :name, class: "form-control mb-3", placeholder: "Name" %>
        <%= form.label :name %>
      </div>

      <div class="form-floating">
        <%= form.text_field :details, class: "form-control mb-3", placeholder: "Details" %>
        <%= form.label :details %>
      </div>

      <div class="form-floating">
        <%= form.text_field :army_id, class: "form-control mb-3", placeholder: "Army" %>
        <%= form.label :army_id %>
      </div>

      <div class="form-floating">
        <%= form.number_field :cost, class: "form-control mb-3", placeholder: "Cost" %>
        <%= form.label :cost %>
      </div>
      
    <% end %>
  <% end %>
<% end %>
