<%= form_with(model: [@army, army_list]) do |form| %>

  <%= render RecordFormWrapperComponent.new(record: army_list, form:) do |component| %>

    <% component.with_fields do %>
      <%= form.hidden_field :army_id %>

      <div class="form-floating">
        <%= form.text_field :name, class: "form-control mb-3", placeholder: "Name" %>
        <%= form.label :name %>
      </div>

      <div class="form-floating">
        <%= form.number_field :cost, class: "form-control mb-3", placeholder: "Cost" %>
        <%= form.label :cost %>
      </div>

      <%= render TextEditorComponent.new(form:, attribute: :details) %>
      
    <% end %>
  <% end %>
<% end %>
