<%= form_with(model: game_system) do |form| %>
  <%= render ErrorPanelComponent.new(model_name: "Game System", errors: game_system.errors) %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
