<%= form_with(model: @user) do |form| %>
  <%= render RecordFormWrapperComponent.new(record: @user, form:) do |component| %>
    <% component.with_form_box do %>

      <%= bootstrap_text_field(form, :firstname) %>
      <%= bootstrap_text_field(form, :surname) %>
      <%= bootstrap_text_field(form, :nickname) %>

    <% end %>

    <% component.with_form_box do %>
      <div class="form-floating mb-3">
        <%= form.password_field :password_migration, class: "form-control", placeholder: "Password" %>
        <%= form.label :password_migration %>
      </div>

      <div class="form-floating mb-3">
        <%= form.password_field :password_migration_confirmation, class: "form-control", placeholder: "Confirm Password" %>
        <%= form.label :password_migration_confirmation %>
      </div>
    <% end %>
  <% end %>
<% end %>