<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newGameModal">
  New Game
</button>

<div class="modal" tabindex="-1" id="newGameModal" data-controller="new-game-modal" data-new-game-modal-gaming-group-id-value="<%= @gaming_session.gaming_group.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Game</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with model: @new_game do |form| %>

        <%= form.hidden_field :gaming_session_id %>

        <div class="modal-body">
          <div class="form-floating mb-3">
            <%= game_system_select(form, :game_system_id, data: {
              action: "new-game-modal#gameSystemSelected"
            }) %>
            <%= form.label :game_system_id %>
          </div>

          <div class="input-group mb-3">
            <%= player_selection(@gaming_session.gaming_group, "player_select", { 
                aria_label: "Player select",
                class: "form-select", 
                data: {
                  new_game_modal_target: "playerSelect"
                }
              }) %>
            <button class="btn btn-outline-secondary" type="button" data-action="click->new-game-modal#addPlayer">
              <i class="bi bi-person-fill-add"></i>
            </button>
          </div>

          <div data-new-game-modal-target="playersList">
          </div>

          <div class="form-floating mb-3">
            <%= form.select :campaign_id, options_for_select([['No Campaign', nil]]), {}, { class: "form-select", data: {
              "new-game-modal-target": "campaignSelect"
            }} %>
            <%= form.label :campaign_id %>
          </div>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= form.submit "Create Game", class: "btn btn-primary", data: {
            "new-game-modal-target": "submitBtn"
          } %>
        </div>
      <% end %>
    </div>
  </div>
  <template data-new-game-modal-target="playerTemplate">
    <div class="player-row" data-player-index="%PLAYER_INDEX%" data-new-game-modal-target="playerRow">
      <input type="hidden" value="%ID%" name="game[players_attributes][%PLAYER_INDEX%][controller_id]">
      <input type="hidden" value="%TYPE%" name="game[players_attributes][%PLAYER_INDEX%][controller_type]">
      <div>%NAME%</div>
      <div>
        <button type="button" class="btn" 
          data-new-game-modal-player-index-param="%PLAYER_INDEX%"
          data-action="click->new-game-modal#removePlayer">
          <i class="bi bi-trash3"></i>
        </button>
      </div>
    </div>
  </template>
</div>

