<div class="form-row unit-stat-definition-form">
 
  <%= bootstrap_text_form(form, :name) %>
  <%= bootstrap_text_form(form, :label) %>
  <%= unit_stat_definition_type_select(form) %>
  <%= bootstrap_number_form(form, :min) %>
  <%= bootstrap_number_form(form, :max) %>
  <%= bootstrap_number_form(form, :sort) %>
</div>
