<div class="form-row unit-stat-definition-form">
 
  <%= form.text_field(:name) %>
  <%= form.text_field(:label) %>
  <%= unit_stat_definition_type_select(form) %>
  <%= form.number_field(:min) %>
  <%= form.number_field(:max) %>
  <%= form.number_field(:sort) %>
</div>
