<div>
  <%= render Common::HeaderCardComponent.new(title: "Event Details") do |header| %>
    <% header.with_buttons do %>
      <%= render Common::MenuButtonComponent.new(menu_options: [
        { text: "New Text Section", link: quest_event_data_new_text_section_path }
      ]) %>
    <% end %>
  <% end %>

  <div class="accordion" id="accordionExample">
    <%= turbo_frame_tag :event_details do %>
      <%= @form.fields_for :quest_event_datum do |item_form| %>
        <%= render Quests::Events::Data::Forms::TextSectionComponent.new(form: item_form) %>
      <% end %>
    <% end %>
  </div>
</div>