<% content_for :title, @title %>

<%= render Common::HeaderCardComponent.new(title: @title) do |header| %>
  <%= header.with_buttons do %>
    <%= link_to "New character", new_character_path, class: %i[btn btn-primary] if @allow_creation %>
  <% end %>
<% end %>

<div id="characters">
  <%= turbo_frame_tag :characters do %>
    <% @characters.each do |character| %>
      <%= render Common::CardWithMenuComponent.new(title: character,
        menu_options: [
          {link: character, text: "Show", target: "_top"},
          {link: edit_character_path(character), text: "Edit", target: "_top"}
        ]) do |card| %>
        <% card.with_body do %>
          <%= render character %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>