<%= render WorldViews::WrapperComponent.new(
  record: @character,
) do |component| %>

  <% component.with_header do %>
    <h1><%= @character.full_name %></h1>
    <h2><%= @character.species.name %></h2>
  <% end %>

  <% component.with_body do %>
    <h3>Description</h3>
    <%= render TextEditorRenderComponent.new(model: @character, attribute: :physical_description) %>
    <hr>

    <h3>History</h3>
    <%= render TextEditorRenderComponent.new(model: @character, attribute: :history) %>
  <% end %>
<% end %>
