<%= render Common::HeaderCardComponent.new(title: @title) do |header| %>
  <%= header.with_buttons do %>
    <%= header_buttons %>
    <%= render Common::MenuButtonComponent.new(menu_options: @menu_options, 
                additional_classes: ["record-show-wrapper__header-menu"]) %>
  <% end %>
<% end %>

<%= body %>

<%= tab_section %>

<% if boxes.any? || spaces.any? %>

  <div class="aic-grid">
    <% boxes.each do |box| %>
      <div class="col">
        <%= box %>
      </div>
    <% end %>
    <% spaces.each do |space| %>
      <div class="col">
        <%= space %>
      </div>
    <% end %>
  </div>

<% end %>
