<% id = SecureRandom.hex(6) %>
<div class="player-row" data-player-index="<%= id %>" data-new-game-modal-target="playerRow">
  <%= form.hidden_field :controller_id %>
  <%= form.hidden_field :controller_type %>

  <div><%= controller.display_name %></div>
  <div>
    <button type="button" class="btn" 
      data-new-game-modal-player-index-param="<%= id %>"
      data-action="click->new-game-modal#removePlayer">
      <i class="bi bi-trash3"></i>
    </button>
  </div>
</div>