<div class="game-control mt-2 border" data-controller="game-control"
  data-game-control-game-id-value="<%= @game.id %>">
  <%= form_with model: @game, data: {
    "game-control-target": "form"
  } do |form| %>
    <nav aria-label="game control menu" class="navbar navbar-expand-lg navbar-light bg-light game-control__menu">
      <div class="container-fluid">
        <div class="flex-row gap-2 flex-fill">
          <%= bs_icon_button icon: :journal, data: {
            "game-control-target": "globalNotesBtn"
          }, style: nil, title: "General Notes" %>
          <%= bs_icon_button icon: "journal-richtext", data: {
            "game-control-target": "eventNotesBtn"
          }, style: nil, title: "Events"  %>
          <%= bs_icon_button icon: "radioactive", data: {
            "game-control-target": "combatTrackerBtn"
          }, style: nil, title: "Combat"  %>
        </div>
        <div data-game-control-target="status">
        </div>
      </div>
    </nav>

    <div class="game-control__window p-2">
      <%= render WindowComponent.new(title: "Notes", target: "globalNotes") do %>
        <%= form.fields_for :players, @player do |player_form| %>
          <%= render TextEditorComponent.new(form: player_form, attribute: :notes, save_triggers:["game-control#notesSaved"], hide_label: true,
                                            search_params: text_editor_search_params)%>
        <% end %>
      <% end %>
      <%= render WindowComponent.new(title: "Story", target: "eventNotes") do %>
        <%= render Quests::Events::SelectorComponent.new(game: @game) %>
        <%= turbo_frame_tag "game_quest_events", src: quest_events_game_path(@game), class: "accordion" %>
      <% end %>
      <%= render WindowComponent.new(title: "Combat", target: "combatTracker", show: false) do %>
      <% end %>
    </div>

  <% end %>
</div>
