<%= form_with(model: gaming_group) do |form| %>
  <%= render ErrorPanelComponent.new(model_name: "Gaming Group", errors: gaming_group.errors) %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
