<div class="container">
  <div class="<%= column_row_class %>">
    <div class="col">
      <div class="mb-2">
        <%= render @gaming_group %>
      </div>
      <%= render GroupSessionsOverviewComponent.new(gaming_group: @gaming_group) %>
    </div>
    <div class="col">
      <%= render LeagueTableComponent.new(gaming_group: @gaming_group) %>
    </div>
    <div class="col">
      <%= render GamingGroupUserOverviewComponent.new(gaming_group: @gaming_group, current_user:) %>
    </div>
    <div class="col">
      <%= render GamingGroupTeamManagementComponent.new(gaming_group: @gaming_group, current_user:) %>
    </div>
  </div>
</div>


