<p>
  <strong>Name:</strong>
  <%= unit.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= unit.description %>
</p>
<p>
  <strong>Cost:</strong>
  <%= unit.cost %>
</p>
<p>
  <strong>Stats:</strong>
  <%= unit.stats %>
</p>
<p>
  <strong>Army list:</strong>
  <%= unit.army_list_id %>
</p>


