<% content_for :title, "Editing quest event" %>

<%= form_with(model: @quest_event, url: [@quest, @quest_event]) do |form| %>

  <%= render RecordFormWrapperComponent.new(record: @quest_event, form:, row_cols: 1) do |component| %>

    <% component.with_form_box do %>
      <div class="d-flex flex-row gap-2">
        <div class="flex-fill">
          <%= bootstrap_text_field(form, :title) %>
        </div>
        <div class="flex-fill">
          <%= render TextEditorComponent.new(form:, attribute: :blurb, min_height: 25) %>
        </div>
      </div>
    <% end %>

    <% component.with_form_box do %>
      <%= render Quests::Events::DetailsFormComponent.new(quest_event: @quest_event, form:) %>
    <% end %>
  <% end %>
<% end %>





