<p>
  <strong>Name:</strong>
  <%= campaign.name %>
</p>
<p>
  <strong>Gaming group:</strong>
  <%= campaign.gaming_group %>
</p>
<p>
  <strong>Game system:</strong>
  <%= campaign.game_system %>
</p>

<p>
  <strong>Starting <%= campaign.game_system.list_cost_name %>:</strong>
  <%= campaign.list_start_cost %>
</p>

