<p>
  <strong>Name:</strong>
  <%= location.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= location.description %>
</p>
<p>
  <strong>History:</strong>
  <%= location.history %>
</p>
<p>
  <strong>Located in:</strong>
  <%= location.located_in_id %>
</p>
<p>
  <strong>World:</strong>
  <%= location.world_id %>
</p>
<p>
  <strong>Location type:</strong>
  <%= location.location_type_id %>
</p>


